---
import Layout from "@/layouts/Layout.astro";
import Head from "@/components/Head.astro";
import Title from "@/components/Title.astro";
import { Image } from "astro:assets";
import blur from "/public/images/bg.png";
import ucr from "/public/images/ucr-logo.jfif";
import cyberpro from "/public/images/cyberprocr-logo.jfif";
import ExperienceCard from "@/components/ExperienceCard.astro";
import { getAbsoluteLocaleUrl } from "astro:i18n";

getAbsoluteLocaleUrl("en");
export const prerender = true;
---

<Head
  title="Experience"
  description="Professional and academic experience of Ernesto Vega"
  author="Ernesto Vega Rodriguez"
/>
<Layout class="relative">
  <div class="grid mt-[11.1111%] content-center">
    <Title text="Experience" />
  </div>

  <section class="grid px-3 lg:px-0 content-start text-white mb-[5rem]">
    <Image
      src={blur}
      class="fixed top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]"
      alt="blur background"
    />

    <div class="grid grid-rows-auto content-center gap-5 mt-12">
      <ExperienceCard
        company="CyberProCr"
        avatar={cyberpro}
        position="FullStack Developer"
        period="Aug 2025 - Dec 2025"
        location="Remote - Juan Viña, Cartago, Costa Rica"
        description={[
          "",
          "Performed requirements analysis and developed CRUD modules.",
          "Refactored project user interfaces using Tailwind CSS, implementing a responsive design.",
          "Implemented features using AI models through platforms such as Pinecone.",
        ]}
        technologies={["JavaScript", "Tailwind CSS", "ASP.NET", "C#", "SQL"]}
      />

      <ExperienceCard
        company="Universidad de Costa Rica"
        avatar={ucr}
        position="Undergraduate Student"
        period="Jan 2024 - Jun 2025"
        location="Turrialba, Cartago, Costa Rica"
        description={[
          "",
          "Led and collaborated on development using Scrum and RUP methodologies, managing tasks through Trello.",
          "Developed database structure and implemented related functions.",
          "Implemented various frontend projects and developed multiple RESTful services.",
        ]}
        technologies={["Angular", ".NET", "SQL", "Trello"]}
      />
    </div>
  </section>
</Layout>
