---
import Layout from "@/layouts/Layout.astro";
import Head from "@/components/Head.astro";
import Title from "@/components/Title.astro";
import { Image } from "astro:assets";
import blur from "/public/images/bg.png";
import PortfolioCard from "@/components/PortfolioCard.astro";
import { getAbsoluteLocaleUrl } from "astro:i18n";

getAbsoluteLocaleUrl("en");
export const prerender = true;

let title = Astro.props;
---

<Head
  title="Portfolio"
  description="Proyectos y trabajos destacados de Ernesto Vega"
  author="Ernesto Vega Rodriguez"
/>
<Layout class="relative">
  <div class="grid mt-[11.1111%] content-center">
    <Title text="Portfolio" />
  </div>
  <!-- ABOUT ME -->
  <section class="grid px-3 lg:px-0 content-start text-white">
    <Image
      src={blur}
      class="fixed top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]"
      alt="blur background"
    />
    <div class="grid grid-rows-auto content-center gap-5 pb-10 mt-12">
      <PortfolioCard
        title="Jade Hotel System"
        img={[
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563140/hotel-jade-website-1_xl43zn.webp", 
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563139/hotel-jade-website-2_cflsbd.webp", 
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563137/hotel-jade-website-3_osjt2m.webp", 
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563137/hotel-jade-website-4_vucszn.webp", 
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563138/hotel-jade-website-5_yesm3q.webp", 
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563139/hotel-jade-website-6_edecgx.webp"
        ]}
        alt={title}
        codeLink="https://github.com/ErnestoVegaRodriguez/PROYECTO_INGENIERIA_GRUPO_JAHE_FRONTEND.git"
        badgeLinkProps={[
          { text: "TypeScript" },
          { text: "HTML/CSS" },
          { text: ".NET 8" },
          { text: "Angular 18" },
          { text: "Angular Material" },
          { text: "Entity Framework Core" },
          { text: "SQL Server" },
          { text: "C#" },
          { text: "Cloudinary" },
        ]}
        description="A system responsible for managing reservations, advertising, and other areas of hotel management. It consists of two parts: one for customers that allows them to make room reservations, and another for administration focused on hotel operations. Developed with Angular, .NET, and SQL Server technologies."
      />

      <PortfolioCard
        title="SOLITEL Request Management System"
        img={[
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563159/solitel-website-1_w5fb75.webp", 
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563160/solitel-website-2_fn702j.webp", 
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563161/solitel-website-3_hgjd1w.webp", 
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563158/solitel-website-4_uzknrp.webp", 
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563158/solitel-website-5_ofovmh.webp"
        ]}
        alt={title}
        codeLink="https://github.com/ErnestoVegaRodriguez/Solitel-Frontend.git"
        badgeLinkProps={[
          { text: "TypeScript" },
          { text: "HTML/CSS" },
          { text: ".NET 8" },
          { text: "Angular 18" },
          { text: "Tailwind CSS" },
          { text: "Entity Framework Core" },
          { text: "SQL Server" },
          { text: "C#" },
        ]}
        description="A functional test developed from scratch in Angular 18 with standalone components. The system allows government entities to register and track telephone interception requests sent to telecommunications providers. It includes a complete frontend and backend design as an example of technology migration."
      />

      <PortfolioCard
        title="Max Coupons System"
        img={[
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563110/cupones-max-website-1_xvx0kn.webp", 
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563111/cupones-max-website-2_cf57dr.webp", 
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563111/cupones-max-website-3_nssent.webp", 
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563111/cupones-max-website-4_hzffev.webp", 
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563112/cupones-max-website-5_zmtejh.webp", 
          "https://res.cloudinary.com/dks1ifnxa/image/upload/v1772563112/cupones-max-website-6_fwslsr.webp"
        ]}
        alt={title}
        codeLink="https://github.com/ErnestoVegaRodriguez/Proyecto2-Sistema-Venta-Cupones.git"
        badgeLinkProps={[
          { text: "JavaScript" },
          { text: "HTML/CSS" },
          { text: ".NET 8" },
          { text: "Ionic" },
          { text: "React" },
          { text: "Tailwind CSS" },
          { text: "Entity Framework Core" },
          { text: "SQL Server" },
          { text: "C#" },
          { text: "MySQL" },
          { text: "PHP" },
        ]}
        description="A coupon sales system that allows companies and the main administrator to manage coupons. It consists of a mobile application in Ionic and an administrative panel in Angular, connected to two APIs developed in PHP and .NET. It enables coupons to be registered, activated, and validated by connecting to multiple databases."
      />
    </div>
  </section>
</Layout>
